@media (max-width: 930px) {
  .burger {
    display: flex;
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    width: 100%;
    height: calc(100dvh - 60px);
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.6);
    transform: translateX(150%);
    opacity: 0;
  }

  .navigation_show {
    transform: translateX(0);
    opacity: 1;
  }

  .menu {
    display: block;
  }

  .menu__item {
    text-align: center;
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .advantages-wrapper {
    flex-wrap: wrap;
    padding: 10px;
    background: white;
    color: black;
  }

  .advantages-wrapper:nth-of-type(2),
  .advantages-wrapper:nth-of-type(4) {
    flex-wrap: wrap-reverse;
  }

  .advantages__text {
    height: fit-content;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery__link:nth-of-type(1),
  .gallery__link:nth-of-type(8) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .gallery__link:nth-of-type(1),
  .gallery__link:nth-of-type(4),
  .gallery__link:nth-of-type(7),
  .gallery__link:nth-of-type(10) {
    grid-column: span 2;  
  }

  .card {
    height: 300px;
  }
}

@media (max-width: 390px) {
  .logo-box span {
    display: none;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .gallery__link:nth-of-type(1),
  .gallery__link:nth-of-type(4),
  .gallery__link:nth-of-type(7),
  .gallery__link:nth-of-type(10) {
    grid-column: span 1;  
  }
}
