@media(max-width: 930px) {
  .burger {
    display: flex;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    width: 100%;
    height: calc(100dvh - 60px);
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.6);
    transform: translateX(150%);
    opacity: 0;
  }

  .navigation_show {
    transform: translateX(0);
    opacity: 1;
  }

  .menu {
    display: block;
  }

  .menu__item {
    text-align: center;
    width: 100%;
    padding: 10px;
  }
}

@media(max-width: 768px) {
  .advantages-wrapper {
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 5px;
    background: white;
    color: black;
  }

  .advantages-wrapper:nth-of-type(2),
  .advantages-wrapper:nth-of-type(4) {
    flex-wrap: wrap-reverse;
  }

  .advantages__text {
    height: fit-content;
  }
}

@media(max-width: 768px) {
  .card {
    height: 300px;
  }
}

@media(max-width: 390px) {
  .logo-box span {
    display: none;
  }
}