html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  background: black;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Open Sans", helvetica-light, Arial, sans-serif;
  user-select: none;
}

.header {
  transition: 0.7s;
}

.header_sticky {
  background: rgba(0, 0, 0, 0.2);
}

.header_active {
  background: rgba(0, 0, 0, 0.6);
}

.header__container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 10px;
}

.header_absolute {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}

.logo-box {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 700;
}

.logo {
  width: 60px;
  border-radius: 100%;
  transition: 1s;
}

@media(hover:hover) {
  .logo-box:hover .logo {
    transform: rotate(360deg);
  }  
}

.chat-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.chat {
  width: 20px;
}

.navigation {
  transition: 0.7s;
}

.menu {
  display: flex;
  gap: 10px;
  list-style-type: none;
  font-size: 20px;
}

.menu__item {
  border-radius: 2px;
  transition: 0.7s;
}

.menu__item a {
  border-radius: 2px;
  padding: 10px;
  transition: 0.7s;
}

.menu__item_active a {
  background: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: black;
}

@media(hover:hover) {
  .menu__item a:hover {
    background: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: black;
  }
}

.preview-box {
  line-height: 0;
  overflow: hidden;
}

.preview-box__image {
  width: 100%;
  height: 100dvh;
  object-fit: cover;
  animation: scale-image infinite 20s;
}

/*-------------------------------------burger---------------------------------------*/

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  display: none;
  transition: 0.7s;
}

.burger__line {
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background: white;
  transition: 0.7s;
}

.burger_close .burger__line:nth-of-type(1) {
  position: absolute;
  rotate: 40deg;
}

.burger_close .burger__line:nth-of-type(3) {
  position: absolute;
  rotate: -40deg;
}

.burger_close .burger__line:nth-of-type(2) {
  opacity: 0;
}

/*-------------------------------------main-swiper----------------------------------*/

.swiper-button-prev::after,
.swiper-button-next::after {
  color: white;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: white;
}

.swiper-slide__image {
  width: 100%;
}

/*----------------------------------------multiple-swiper---------------------------*/

.swiper-container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

/*------------------------------------------footer----------------------------------*/
.footer {
  position: relative;
  overflow-x: hidden;
}

.footer-animation {
  position: absolute;
  z-index: -1;
  width: 200%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(121,121,121,0.2) 50%), rgba(0,0,0,0) 100%;
  background: radial-gradient(circle, rgba(121,121,121,0.2) 0%, rgba(0,0,0,0) 50%);
  animation: gradient-animation 15s infinite;
}

.footer__conatiner {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 10px;
}

.footer-main {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 12px;
}

.footer-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-section ul li {
  padding: 0 0 5px 0;
}

.social-links a {
  display: flex;
  gap: 5px;
  align-items: center;
}
.social-links a img {
  height: 30px;
  overflow: hidden;
  border-radius: 5px;
}

.contacts-box {
  display: flex;
  gap: 5px;
}

.contacts-box img {
  height: 30px;
}

.scroll-off {
  overflow: hidden;
}

/*-------------------------------------scrollbar--------------------------------*/

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
*::-webkit-scrollbar-track:hover {
  background-color: rgba(255, 255, 255, 0);
}
*::-webkit-scrollbar-track:active {
  background-color: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
*::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 1);
}

.scroll-off {
  overflow-y: hidden;
}

@keyframes scale-image {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes gradient-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
